@{
    ViewData["Title"] = "Statusy aplikacji";
}
<div>
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 123 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 100 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 101 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 102 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 103 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 104 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 105 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 106 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 107 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 108 })
</div>
