@{
    ViewData["Title"] = "Home Page";
}
<div>
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 123 })
    @await Component.InvokeAsync("UserApplicationStatusesControl", new { userId = 100 })
</div>
